/ .map= inline_svg 'Map.svg', id: "Map", size: '950px*548px', nocomment: true

/ sizes = []

/- 15.times do |index|
  - ratio = (rand * 0.5) + 1.3
  - sizes << {thumb: 85*ratio, preview: 300*ratio}

/.layout
  aside.layout__sidebar
  main.layout__body
    header.layout__header
      nav.navigation
        a href="#"
          span Поиск по услугам
        a.active href="#"
          span Поиск по ARTPLAY
        a href="#"
          span Интерактивная карта
    section.layout__content
      .map
      /.searchbar data-prevent-close='true'
        input.searchbar__input type="text" role='searchbar_input'/
        .searchbar__keyboard role='searchbar_keyboard'
      /.gallery
        .gallery__preview.swiper-container role='gallery_preview'
          .swiper-wrapper
            - sizes.each do |size|
              - width = size[:preview].floor
              .swiper-slide
                img src="http://placehold.it/#{width}x300" width=width height="300"/
        .gallery__thumbs.swiper-container role='gallery_thumb'
          .swiper-wrapper
            - sizes.each do |size|
              - width = size[:thumb].floor
              .swiper-slide
                img src="http://placehold.it/#{width}x85" width=width height="85"/

    footer.layout__footer
      nav.navigation._footer
        a href="#"
          span О проекте
        a href="#"
          span Реклама
        a href="#"
          span Контакты
