.company-page
  display: flex
  flex: 1
  flex-flow: column
  position: relative

  &__content
    flex: 1
    display: flex

  &__location
    width: 100%

  &__map
    border-bottom: 1px solid #000
    padding: 4rem 0

  &__tags
    padding-top: 4rem
    font-size: 1.9rem

  &__tags-cloud
    margin-top: 2.1rem

  &__gallery
    padding-top: 4rem
    width: 100%

  &__header
    display: flex
    font-size: 1.7rem
    line-height: 1.4
    margin: 4rem 0 0 0

  &__header-contacts
    min-width: 180px
    margin: 0 3rem 0 1rem
    text-align: center
    flex-basis: auto

    .__location
      line-height: 1
      border-bottom: 1px solid #000
      padding-bottom: 1.5rem
      margin-bottom: 1.5rem

    .__floor
      font-size: 6rem
      margin: 0

    .__floor-caption
      font-weight: bold
      font-size: 1.6rem
      display: block

    .__contacts
      white-space: pre-line

  &__header-text
    flex: 1

    img
      max-height: 5rem
      display: block

    p:first-child
      margin-top: 0


  &__desc
    line-height: 1.4
    margin-top: 4rem
    display: flex
    flex: 1

  &__desc-brands
    font-size: 1.4rem
    margin: 0 3rem 0 1rem
    width: 18rem

    img
      width: 17.6rem
      height: 9.4rem
      display: block
      margin-bottom: 1.5rem

  &__desc-content
    position: relative
    flex: 1
    font-size: 1.7rem
