.interactive-map
  display: flex
  flex-flow: column
  flex: 1

  &__results
    padding: 4rem 0 0
    flex: 1
    flex-flow: column
    display: flex
    position: relative

  &__map
    padding: 3.5rem 0