.search-page
  flex: 1
  display: flex
  flex-flow: column

  &__searchbar
    display: flex
    flex-flow: column
    margin-bottom: 2rem

    input[type="text"]
      font-size: 3rem
      line-height: 1.3
      border: .1rem solid #111
      outline: 0
      padding: .3em .5em .2em
      padding-right: 5.4rem
      border-radius: 1rem
      background: transparent image-url('icons/search-magnifier.svg') no-repeat center right
      margin-bottom: 2rem
      width: 75%
      align-self: center

    // Input state
    .ui-keyboard-input-current
      box-shadow: none

    .ui-keyboard
      position: static
      left: initial !important
      top: initial !important
      background: #fff
      font-size: 2.5rem
      padding: 0

      $color: #414042

      // Keys and states
      .ui-keyboard-button
        line-height: 1
        -moz-appearance: none
        width: 6.84rem
        height: 5rem
        border: 0
        display: inline-block
        vertical-align: top
        margin: 0 .1rem .2rem
        background: #fff
        border: .1rem solid $color
        border-radius: .3rem
        color: $color

        &:hover
          color: #fff
          background: $color

        span
          vertical-align: bottom

      .ui-keyboard-text
        line-height: 48px
        position: relative
        top: 0

      .ui-state-active
        background: $color
        border-color: $color
        color: #fff

      .ui-keyboard-shift
        .ui-keyboard-text
          width: 26px
          height: 21px
          background: transparent image-url('icons/key-shift.svg') no-repeat 0 0
          background-size: cover

        &.ui-state-active,
        &:hover
          .ui-keyboard-text
            background-position: 0 -21px

      .ui-keyboard-bksp
        .ui-keyboard-text
          width: 30px
          height: 17px
          background: transparent image-url('icons/key-backspace.svg') no-repeat 0 0
          background-size: cover

        &:hover
          .ui-keyboard-text
            background-position: 0 -17px

      .ui-keyboard-accept
        .ui-keyboard-text
          width: 26px
          height: 26px
          background: transparent image-url('icons/key-search.svg') no-repeat 0 0
          background-size: cover

        &:hover
          .ui-keyboard-text
            background-position: 0 -26px

        &.ui-state-active
          background: transparent
          border: .1rem solid $color

      .ui-keyboard-space
        width: 56.1rem

        .ui-keyboard-text
          width: 38px
          height: 4px
          background: transparent image-url('icons/key-space.svg') no-repeat 0 0
          background-size: cover

        &:hover
          .ui-keyboard-text
            background-position: 0 -4px

      // .ui-keyboard-shift,
      // .ui-keyboard-bksp,
      // .ui-keyboard-accept,
      // .ui-keyboard-space
      .ui-keyboard-bksp
        .ui-keyboard-text
          top: -.4rem

  &__results
    flex: 1
    display: flex
    flex-flow: column
    position: relative
