.start-page
  display: flex
  flex-flow: column
  flex: 1
  justify-content: space-around
  align-items: center

  &__logo
    width: 60rem
    height: 13rem
    margin: 0 auto
    background: transparent image-url('Logo.svg') no-repeat top left

  &__title
    text-transform: uppercase
    font-size: 1.8rem
    line-height: 1.2
    text-align: center
    margin-top: 1.5em

  &__start
    display: block
    border: .1rem solid #000
    border-left: 0
    border-right: 0

    text-transform: uppercase
    margin: 0
    padding: .9em 0 .7em
    line-height: 1.4
    font-size: 3.8rem
    text-align: center
    width: 75%
    font-weight: bold

  &__map
    margin-bottom: 7rem
