.tags-page
  display: flex
  flex-flow: column
  flex: 1

  &__heading
    font-size: 2.5rem
    line-height: 1.2
    text-transform: uppercase
    text-align: center
    padding: 2rem
    border-bottom: .5rem solid transparent
    margin-bottom: 2rem

    &._orange
      border-bottom-color: #f58b1f

    &._purple
      border-bottom-color: #e44a99

  &__tags
    display: flex
    flex: 1

  &__column
    display: flex
    flex-flow: column
    flex: 1
    margin: 0 1rem

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

  &__items
    flex: 1

  &__item
    display: block
    margin-bottom: 2rem
    font-size: 1.7rem
    font-weight: bold
    line-height: 1.4
    padding: .6em 1em .35em
    color: #000
    border: .1rem solid #000
    vertical-align: middle

    &:hover
      background: #000
      color: #fff

    &:last-child
      margin-bottom: 0

    &._back
      &:before
        content: ''
        display: block
        width: 1.9rem
        height: 1.9rem
        background: image-url('icons/tags-back-arrow.svg') no-repeat top left
        background-size: cover
        margin-right: 1rem
        float: left

      &:hover:before
        background-image: image-url('icons/tags-back-arrow-invert.svg')
