= form_for @advert do |f|
  - if @advert.errors.any?
    #error_explanation
      h2 = "#{pluralize(@advert.errors.count, "error")} prohibited this advert from being saved:"
      ul
        - @advert.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :filename
    = f.text_field :filename, :list => "files", :autofocus => true
    datalist id="files"
      - files = Dir.entries Rails.root.join Pathname.new 'public/videos'
      - files.keep_if { |file| file =~ /(?<!_small).mp4$/ }.each do |file|
        option value="#{file}"= file

  .field
    = f.label :company_id
    = f.text_field :company_id, :list => "companies"

    datalist id="companies"
      - Company.all.each do |company|
        option value="#{company.id}"= raw company.name

  .actions = f.submit
