h1 Listing adverts

p#notice = notice

table
  thead
    tr
      th Filename
      th Company
      th
      th
      th

  tbody
    - @adverts.each do |advert|
      tr
        td = advert.filename
        td = (advert.company or {})[:name]
        td = link_to 'Show', advert
        td = link_to 'Edit', edit_advert_path(advert)
        td = link_to 'Destroy', advert, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Advert', new_advert_path, :id => "new_advert"

javascript:
  document.getElementById('new_advert').focus()