.company-link
  font-size: 2.1rem
  line-height: 1.2
  margin-bottom: 1em
  display: flex

  .company-link__link
    color: #231f20
    padding: .7em .6em .5em
    background: #E2E2E2
    font-weight: bold
    text-transform: uppercase
    flex: 1

    &:hover,
    &:active
      background: #B9B9B9

  .company-link__logo
    margin-left: 2rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    align-content: flex-start
    width: 15rem

    img
      max-width: 15rem
      max-height: 4.6rem
      display: block
