@import 'mixins'

.gallery
  overflow: hidden
  position: relative
  height: 640px

  .swiper-container
    width: 845px
    margin: 0 auto

  .swiper-wrapper
    display: block
    white-space: nowrap

  .swiper-slide
    width: auto
    display: inline-block
    vertical-align: middle

    img
      display: block

  &__preview
    margin-bottom: 20px

    .swiper-slide
      position: relative

      &:before
        content: ''
        display: block
        background: #000
        opacity: .6
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        transition: opacity .3s

    .swiper-slide-active
      &:before
        opacity: 0

    img
      width: auto
      height: 480px
      max-width: 845px

  &__thumb
    img
      max-height: 140px

    .swiper-slide
      position: relative

      &:before
        content: ''
        display: block
        background: #000
        opacity: .6
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        transition: opacity .3s

      &:after
        border: 3px solid transparent
        transition: border-color .3s
        content: ''
        display: block
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0

    .swiper-slide-active
      &:before
        opacity: 0

      &:after
        border-color: #d31a38
