@import 'mixins'

.layout
  display: flex
  flex-flow: column
  height: 100%
  overflow: hidden
  width: 1080px
  height: 1920px

  &__inner-page
    flex: 1
    display: flex

  &__inner-start
    flex: 1
    display: flex
    flex-flow: column

  &__start
    flex: 1
    display: flex
    flex-flow: column

  &__sidebar
    flex: 0 0 auto
    display: flex
    flex-flow: column

  &__body
    display: flex
    flex-flow: column
    flex: 0 1 100%

  &__header,
  &__footer
    display: flex
    flex-flow: column

  &__content
    flex: 1
    display: flex
    flex-flow: column
    overflow: hidden
    position: relative

    > div
      display: flex
      flex-flow: column
      flex: 1

  &__header,
  &__content,
  &__footer
    padding: 0 2rem