.map
  width: 100%
  max-width: 79rem
  height: 45.6rem
  position: relative
  margin: 0 auto
  overflow: hidden

  &._start-page
    height: 68.1rem
    max-width: 94.5rem

    svg
      g#Guide
        visibility: hidden

      g#YouHereCallout
        visibility: visible

  &._selectable
    svg
      g[id^='Bld']:hover
        polygon,
        path,
        rect
          @extend %fill

  %fill
    fill: #ea1e30 !important

  svg
    width: 100%
    height: 100%
    display: block

    g#Signs
      pointer-events: none !important

    g#YouHereCallout
      visibility: hidden

    g[id^='Bld'].active
      polygon,
      path,
      rect
        @extend %fill

  span
    display: block