@import 'mixins'

.navigation
  &__links
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.9rem
    padding: 1em 0

    a
      display: block
      text-decoration: none
      border-right: 0.1rem solid #000
      font-weight: bold
      color: #000
      line-height: 1
      flex: 1 auto

      &:first-child
        span
          margin-left: 0

      &:last-child
        border-right: 0

        span
          margin-right: 0

      &:hover,
      &:active
        span
          border: .2rem solid #F0BF00

      &:hover
        span
          background: none

      &.active
        span
          background: #F0BF00

      span
        display: block
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        padding: 1.3em 1em 1.1em
        text-transform: uppercase
        margin: 0 .7em
        border: .2rem solid transparent
        text-align: center
        pointer-events: none

  &._footer
    font-size: 1.8rem

    .navigation__links
      padding: 2.3em 0

    a
      font-weight: normal
      flex: 0 auto

      &:first-child
        border-left: .1rem solid #000

      &:last-child
        border-right: .1rem solid #000

      &:hover,
      &:active
        span
          border: .2rem solid #000

      &:hover
        span
          color: #000
          background: none

      &.active
        span
          background: #000
          color: #fff

      span
        text-transform: none
        padding-top: .5em
        padding-bottom: .5em
        min-width: 15rem
        margin: 0 .7em


  &._profile
    font-size: 1.8rem
    border-bottom: 1px solid #000

    .navigation__links
      padding: 2rem 0

    a
      font-weight: normal
      flex: 1 auto

      &:first-child span
        margin-left: 0

      &:last-child span
        margin-right: 0

      &:hover,
      &:active
        span
          border: .2rem solid #000

      &.active
        span
          border: .2rem solid #000
          background: #000
          color: #fff

      span
        text-transform: none
        padding-top: .5em
        padding-bottom: .5em
        min-width: 15rem
        margin: 0 2rem
        text-transform: uppercase
