@import 'mixins'

.scrollable
  flex: 1
  overflow: hidden
  position: relative
  padding-right: 2rem

  display: block
  position: absolute
  top: 0
  right: -2rem
  bottom: 0
  left: 0

  .iScrollVerticalScrollbar
    background: #ccc
    position: absolute
    z-index: 9999
    width: .4rem
    bottom: 0
    top: 0
    right: 0
    overflow: hidden
    pointer-events: none
    border-radius: 1rem

  .iScrollIndicator
    box-sizing: border-box
    position: absolute

    border-radius: 1rem
    width: 100%

    transition-duration: 0ms
    -webkit-transition-duration: 0ms
    transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1)
    -webkit-transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1)
    background: #333