.section
  display: flex
  align-items: center

  border-width: .1rem 0
  border-style: solid
  border-color: #000

  &._company
    border-top: 0

    .section__title
      font-size: 3rem
      text-align: left
      text-transform: uppercase

  &__title
    flex: 1
    text-align: center
    min-height: 5.2rem
    font-size: 2.5rem
    line-height: 1.2
    padding: .8em .5em
    padding-right: 6.7rem

  &__close
    width: 0

    .close
      margin-left: -5.2rem