.sidebar
  width: 19.5rem
  border-right: .1rem solid #000
  flex: 1
  overflow: hidden

  &__image
    background: transparent

  &__text
    text-align: center
    padding: 0 1rem

    h3
      font-size: 1.8rem
      padding-bottom: .7em
      margin: 1.4em 0 0
      position: relative

      &:after
        content: ''
        display: block
        position: absolute
        bottom: 0
        left: 15%
        right: 15%
        background: #000
        height: 0.1rem

    p
      padding-top: 1.2em
      line-height: 1.4
      font-size: 1.4rem
      margin: 0
      white-space: pre-line
      overflow: hidden
