.tags-cloud
  font-size: 1.5rem
  line-height: 1
  display: flex
  flex-flow: row wrap
  margin-right: -1rem

  &__tag
    color: #000
    border: 1px solid #000
    margin: 0 1rem 2.1rem 0
    border-radius: 10rem

    &:hover,
    &:active
      color: #fff
      background: #000

  &__link
    padding: 1rem 1.8rem
    display: block
    text-align: center
