.video-banner
  width: 100%

  video
    width: 19.4rem
    height: 34.5rem
    display: block
    background: #000

  &._full
    height: 100%
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 9999

    video
      width: 100%
      height: 100%
