*
  box-sizing: border-box
  -moz-user-select: none
  -webkit-user-select: none
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

*:focus
  outline: none

html
  user-select: none
  font-size: 10px
  line-height: 1

body, html
  height: 100%
  // min-width: 1000px
  // min-height: 1900px
  // max-width: 1080px
  // max-height: 1920px

body
  font-family: Helios, Arial, Helvetica, sans-serif

input[type="text"],
textarea
  -moz-user-select: text

a
  color: inherit
  text-decoration: none
  display: inline-block
