@font-face
  font-family: Helios
  font-weight: normal
  src: font-url('Helios/Regular.ttf')

@font-face
  font-family: Helios
  font-weight: bold
  src: font-url('Helios/Bold.ttf')

@font-face
  font-family: Helios
  font-weight: lighter
  src: font-url('Helios/Light.ttf')