.flex-column
  display: flex
  flex-flow: column
  flex: 1

.-no-results
  text-align: center
  font-size: 4rem
  color: #bbb
  line-height: 1.4
  font-weight: lighter
  margin: 3em 0 0 0
  display: block
