.close
  display: flex
  width: 5.2rem
  height: 5.2rem
  justify-content: center
  align-items: center
  flex-flow: column
  border: .1rem solid transparent
  border-radius: 5.2rem

  &:hover
    border-color: #333

  span
    display: block
    width: 2.8rem
    height: 2.8rem
    background: transparent image-url('icons/close.svg') no-repeat 0 0
    background-size: cover
