.heading
  display: flex
  border-bottom: .1rem solid #000

  h1
    text-transform: uppercase
    margin: 0
    padding: .9em 0 .7em
    line-height: 1.4
    font-size: 3.8rem
    text-align: center
    flex: 1

  &__close
    display: flex
    align-items: center