<!DOCTYPE html>
<html>
<head>
  <title>ArtplayRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script>
    var categories = <%= raw tags_of_categories() %>;
    var adverts = <%= raw Advert.all.as_json.to_json %>;
  </script>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application' %>
</body>
</html>
